<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#imports" data-toc-modified-id="imports-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span>imports</a></span></li></ul></li><li><span><a href="#plan:" data-toc-modified-id="plan:-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>plan:</a></span><ul class="toc-item"><li><span><a href="#updates-to-original-extraction-process:" data-toc-modified-id="updates-to-original-extraction-process:-0.1.1"><span class="toc-item-num">0.1.1&nbsp;&nbsp;</span>updates to original extraction process:</a></span></li></ul></li></ul></li><li><span><a href="#imports" data-toc-modified-id="imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>imports</a></span><ul class="toc-item"><li><span><a href="#methods" data-toc-modified-id="methods-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>methods</a></span></li></ul></li><li><span><a href="#test:-pandas-df-with-nasa-string-datetime.-convert-to-mysql,-change-columns-inplace" data-toc-modified-id="test:-pandas-df-with-nasa-string-datetime.-convert-to-mysql,-change-columns-inplace-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>test: pandas df with nasa string datetime. convert to mysql, change columns inplace</a></span></li></ul></div>

### imports

In [1]:
# !pip install mysql

In [102]:
import pandas as pd
import numpy as np
import pandas as pd
import mysql.connector
import tqdm
from sqlalchemy import types, create_engine 
import os
from os import listdir
from os.path import isfile, join
import config

In [ ]:
# port 3306
# 127.0.0.1

In [2]:
df = pd.read_csv('increment_0.csv')

In [3]:
df.shape

(14401, 11)

the "parse all at once method" was overwriting to the same file, and running into local memory issues. more difficult to run at length if interruptions necessary as well.

## plan:
- get all filenames in data folder
    - process each file name to a dataframe
        - add the dataframe to mySQL

In [ ]:
engine = create_engine('mysql+mysqldb://...', pool_recycle=3600)

In [ ]:
flatiron.clqqz5nrghvl.us-east-1.rds.amazonaws.com

In [ ]:
3306

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.4MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [9]:
user = config.user
pw = config.pw
# create engine
connst = f'mysql+pymysql://{user}:{pw}@flatiron.clqqz5nrghvl.us-east-1.rds.amazonaws.com/so2'
engine = create_engine(connst, echo=False)

In [11]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [47]:
d = {'lat':[1.5],'long':[0.0],'sat_lat':[0.0],'sat_long':[0.0],'sat_alt':[0.0],'time':[0.0],'sza':[0.0],
      'pbl':[0.0],'anom':[0],'cloud':[0.0]}
df = pd.DataFrame(data=d)

In [83]:
df.to_sql('so2', con=engine, if_exists='append')

In [13]:
engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [14]:
engine.

AttributeError: 'Engine' object has no attribute 'commit'

In [15]:
from sqlalchemy.orm import sessionmaker

In [37]:
engine.dispose()

In [38]:
engine = create_engine(connst, echo=False)

In [16]:
Session = sessionmaker(bind=engine) # create session class

In [17]:
session = Session()
# create session obj

In [ ]:
session.

In [40]:
con = engine.connect()

In [ ]:
d = {'lat':[0.0],'long':[0.0],'sat_lat':[0.0],'sat_long':[0.0],'sat_alt':[0.0],'time':[0.0],'sza':[0.0],
      'pbl':[0.0],'anom':[0],'cloud':[0.0]}

In [41]:
# i think you don't have to specify with float....
create_so2_table = '''
CREATE TABLE so2 (
id INT(9) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
pbl FLOAT(9,6) NOT NULL,
latitude FLOAT(9,6) NOT NULL,
longitude FLOAT(9,6) NOT NULL,
time VARCHAR(35) NOT NULL,
cloud FLOAT(9,6),
sza FLOAT(9,6),
anom INT(1),
volc_so2 INT(1),
sat_lat FLOAT(9,6) NOT NULL,
sat_long FLOAT(9,6) NOT NULL,
year INT(4),
month INT(2)
)
'''

In [50]:
# con.execute(create_so2_table)

In [34]:
con.close()

In [ ]:
# match this format with the dataframe
create_so2_table = '''
CREATE TABLE so2 (
id INT(9) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
pbl FLOAT(9,6) NOT NULL,
latitude FLOAT(9,6) NOT NULL,
longitude FLOAT(9,6) NOT NULL,
time VARCHAR(35) NOT NULL,
cloud FLOAT(9,6),
sza FLOAT(9,6),
anom INT(1),
volc_so2 INT(1),
sat_lat FLOAT(9,6) NOT NULL,
sat_long FLOAT(9,6) NOT NULL,
year INT(4),
month INT(2)
)
'''

### updates to original extraction process:
- also extracting 'Flag_SO2' which marks volcanic activity. useful
- 'TimeUTC' bytearray -> string
    - DATETIME format: '9999-12-31 23:59:59'
- new process
    - unpack h5
        - Datasets -> arrays -> flatten into dataframe
        - write dataframe to SQL with to_sql
            - if you write two same-format dfs to_sql, does it append? i assume

# imports

In [52]:
import h5py

## methods

In [93]:
def process_orbit(h5): # pandas DF, filename string. adds h5's observations to dataframe
    f = h5py.File(h5, 'r') # read file
    geo = f['GEOLOCATION_DATA'] # h5 Groups architecture is similar to dict
    sci = f['SCIENCE_DATA']
    # hdf.Datasets -> np.array -> flatten -> list. faster than looping through each matrix
    lat = list(geo['Latitude'].value.ravel())
    long = list(geo['Longitude'].value.ravel()) # is there a less verbose way to do this?
    sat_lat = list(geo['SpacecraftLatitude'].value.ravel())*36 # extend the 1d arrays
    sat_long = list(geo['SpacecraftLongitude'].value.ravel())*36 # don't forget to ravel like i did
    sat_alt = list(geo['SpacecraftAltitude'].value.ravel())*36
    time = list(geo['TimeUTC'].value.ravel())*36 # 36 measurements per position means one "time" value for every consecutive 36 measurements
    sza = list(geo['SolarZenithAngle'].value.ravel())
    pbl = list(sci['ColumnAmountSO2_PBL'].value.ravel())
    anom = list(sci['Flag_SAA'].value.ravel())
    volc = list(sci['Flag_SO2'].value.ravel())
    # combine lists into df
    new = pd.DataFrame(list(zip(lat, long, sat_lat, sat_long, sat_alt, time, sza, pbl, anom)),
                       columns=["lat", "long", "sat_lat", "sat_long", 
                                'sat_alt', "time", "sza", "pbl", "anom", 'volc'])
    new['time'] = new['time'].astype(str) # change time format
    new['time'] = new['time'].apply(lambda st: st[2:12]+' '+st[13:21]) # change time format
    return new # returns new df

def get_files_list(): # gets list of filepath strings 
    mypath = os.getcwd()+'/data/'
    files = [f for f in listdir(mypath) if isfile(join(mypath, f))]
    for f in files:
        f = mypath+f # append full path for h5py loading
    return files 

def process_h5s(files, processed, engine): # filepath strings, used filepath strings, sqlalchemy engine
    # loads all h5s into dataframes -> uploads to SQL
    # to keep track of progress
    for f in tqdm(files):
        df = process_orbit(f)
        df.to_sql('so2', con=engine, if_exists='append') # sqlalchemy takes care of sessions, commits etc rather nicely
        processed.append(f.pop(0)) # move string to processed
    return processed # is there a point to this if i can't interrupt the jupyter cell?
# maybe i should have tracked 'files' and processed' in SQL tables? would have taken much longer though

In [106]:
# engine.dispose()

In [107]:
# create engine
user = config.user
pw = config.pw
connst = f'mysql+pymysql://{user}:{pw}@flatiron.clqqz5nrghvl.us-east-1.rds.amazonaws.com/so2'
engine = create_engine(connst, echo=False) # don't set pool_recycle

In [104]:
# get filepath strings list
files = get_files_list()
len(files)

38976

In [ ]:
processed = [] # none initially processed
process_h5s(files, processed, engine) # uploading 39k h5s will take a while...

In [75]:
df = process_orbit('one.h5')

In [79]:
geo['TimeUTC'].shape

(320,)

In [81]:
df

,lat,long,sat_lat,sat_long,sat_alt,time,sza,pbl,anom
0,-29.434868,-152.674316,-25.943134,-139.427567,836490.5000,2012-06-05 22:58:15,53.389477,-4.029547e-01,0
1,-28.748690,-150.705246,-25.505482,-139.541229,836318.7500,2012-06-05 22:58:23,53.180332,9.849648e-01,0
2,-28.294161,-149.347794,-25.067749,-139.654312,836148.1875,2012-06-05 22:58:30,53.099312,2.042481e-01,0
3,-27.929909,-148.205383,-24.629927,-139.766800,835978.5625,2012-06-05 22:58:38,53.077206,4.230238e-01,0
4,-27.631712,-147.216263,-24.192024,-139.878738,835810.3125,2012-06-05 22:58:45,53.095310,2.397932e-01,0
...,...,...,...,...,...,...,...,...,...
11515,65.737053,28.350903,65.148735,45.715382,837046.6250,2012-06-05 23:37:34,88.609596,-1.267651e+30,-2147483647
11516,66.006599,26.202513,64.735863,45.312786,836976.1875,2012-06-05 23:37:42,88.614754,-1.267651e+30,-2147483647
11517,66.306702,23.679106,64.322060,44.921356,836905.0000,2012-06-05 23:37:49,88.617020,-1.267651e+30,-2147483647
11518,66.640694,20.623974,63.907379,44.540577,836832.9375,2012-06-05 23:37:57,88.617416,-1.267651e+30,-2147483647
11519,67.025879,16.546312,63.491852,44.169975,836759.8125,2012-06-05 23:38:04,88.615456,-1.267651e+30,-2147483647

In [ ]:
df.

In [56]:
f = h5py.File('one.h5', 'r')
sci = f['SCIENCE_DATA']
geo = f['GEOLOCATION_DATA']

In [57]:
for k in sci.keys():
    print(k, type(sci[k][0][0]), sci[k][0][0])

CloudFraction <class 'numpy.float32'> 0.21159439
ColumnAmountO3 <class 'numpy.float32'> 281.70758
ColumnAmountSO2_PBL <class 'numpy.float32'> -0.40295467
ColumnAmountSO2_STL <class 'numpy.float32'> -0.060004227
ColumnAmountSO2_TRL <class 'numpy.float32'> -0.17981637
ColumnAmountSO2_TRM <class 'numpy.float32'> -0.089290515
ColumnAmountSO2_TRU <class 'numpy.float32'> -0.06284826
FittingWindow_STL <class 'numpy.ndarray'> [313. 340.]
FittingWindow_TRL <class 'numpy.ndarray'> [313. 340.]
FittingWindow_TRM <class 'numpy.ndarray'> [313. 340.]
FittingWindow_TRU <class 'numpy.ndarray'> [313. 340.]
Flag_SAA <class 'numpy.int32'> 0
Flag_SO2 <class 'numpy.int32'> 0
RadiativeCloudFraction <class 'numpy.float32'> 0.29958948
Reflectivity331 <class 'numpy.float32'> 0.28990737
SLER <class 'numpy.ndarray'> [0.29474375 0.30017498 0.3100103 ]
UVAerosolIndex <class 'numpy.float32'> 0.54779524
Wavelengths_SLER <class 'numpy.ndarray'> [342.66742 353.91214 366.8322 ]
dNdR <class 'numpy.ndarray'> [-35.882015 -40.851948 -46.43574 ]
nPrincipalComponents <class 'numpy.int32'> 15

In [58]:
for k in geo.keys():
    try:
        print(k, type(geo[k][0][0]), geo[k][0][0])
    except:
        print('1d', k, type(geo[k][0]), geo[k][0])

Latitude <class 'numpy.float32'> -29.434868
Longitude <class 'numpy.float32'> -152.67432
SolarAzimuthAngle <class 'numpy.float32'> -14.087847
SolarZenithAngle <class 'numpy.float32'> 53.389477
1d SpacecraftAltitude <class 'numpy.float32'> 836490.5
1d SpacecraftLatitude <class 'numpy.float32'> -25.943134
1d SpacecraftLongitude <class 'numpy.float32'> -139.42757
1d TimeTAI93 <class 'numpy.float64'> 613090702.888068
TimeUTC <class 'int'> 50
ViewingAzimuthAngle <class 'numpy.float32'> 76.658226
ViewingZenithAngle <class 'numpy.float32'> 66.20959

# test: pandas df with nasa string datetime. convert to mysql, change columns inplace

In [61]:
d = {'col1': ["b'2012-06-05T22:58:15.888068Z'", "b'2020-06-05T05:58:15.888068Z'"], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

                             col1  col2
0  b'2012-06-05T22:58:15.888068Z'     3
1  b'2020-06-05T05:58:15.888068Z'     4

In [62]:
df['col1'] = df['col1'].apply(lambda st: st[2:12]+' '+st[13:21])
df

                  col1  col2
0  2012-06-05 22:58:15     3
1  2020-06-05 05:58:15     4

In [ ]:
st = "b'2012-06-05T22:58:15.888068Z'" # change NASA format to mysql DATETIME
timest = st[2:12]+' '+st[13:21]
timest

In [ ]:
df['a'] = df['a'].apply(lambda x: x + 1)