<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#imports" data-toc-modified-id="imports-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span>imports</a></span></li></ul></li><li><span><a href="#plan:" data-toc-modified-id="plan:-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>plan:</a></span><ul class="toc-item"><li><span><a href="#updates-to-original-extraction-process:" data-toc-modified-id="updates-to-original-extraction-process:-0.1.1"><span class="toc-item-num">0.1.1&nbsp;&nbsp;</span>updates to original extraction process:</a></span></li></ul></li></ul></li><li><span><a href="#methods" data-toc-modified-id="methods-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>methods</a></span><ul class="toc-item"><li><span><a href="#engine-method" data-toc-modified-id="engine-method-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>engine method</a></span></li></ul></li><li><span><a href="#upload-complete!-(17-hours-later)" data-toc-modified-id="upload-complete!-(17-hours-later)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>upload complete! (17 hours later)</a></span></li></ul></div>

### imports

In [ ]:
# !pip install mysql

In [3]:
import pandas as pd
import numpy as np
import pandas as pd
import mysql.connector
from tqdm import tqdm
import h5py
from sqlalchemy import types, create_engine 
import os
from os import listdir
from os.path import isfile, join
import config
import time

In [ ]:
# port 3306
# 127.0.0.1

In [ ]:
df = pd.read_csv('increment_0.csv')

In [ ]:
df.shape

the "parse all at once method" was overwriting to the same file, and running into local memory issues. more difficult to run at length if interruptions necessary as well.

## plan:
- get all filenames in data folder
    - process each file name to a dataframe
        - add the dataframe to mySQL

In [ ]:
engine = create_engine('mysql+mysqldb://...', pool_recycle=3600)

In [ ]:
flatiron.clqqz5nrghvl.us-east-1.rds.amazonaws.com

In [ ]:
3306

In [ ]:
!pip install pymysql

In [ ]:
user = config.user
pw = config.pw
# create engine
connst = f'mysql+pymysql://{user}:{pw}@flatiron.clqqz5nrghvl.us-east-1.rds.amazonaws.com/so2'
engine = create_engine(connst, echo=False)

In [ ]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [ ]:
d = {'lat':[1.5],'long':[0.0],'sat_lat':[0.0],'sat_long':[0.0],'sat_alt':[0.0],'time':[0.0],'sza':[0.0],
      'pbl':[0.0],'anom':[0],'cloud':[0.0]}
df = pd.DataFrame(data=d)

In [ ]:
df.to_sql('so2', con=engine, if_exists='append')

In [ ]:
engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [ ]:
engine.

In [ ]:
from sqlalchemy.orm import sessionmaker

In [ ]:
engine.dispose()

In [ ]:
engine = create_engine(connst, echo=False)

In [ ]:
Session = sessionmaker(bind=engine) # create session class

In [ ]:
session = Session()
# create session obj

In [ ]:
session.

In [ ]:
con = engine.connect()

In [ ]:
d = {'lat':[0.0],'long':[0.0],'sat_lat':[0.0],'sat_long':[0.0],'sat_alt':[0.0],'time':[0.0],'sza':[0.0],
      'pbl':[0.0],'anom':[0],'cloud':[0.0]}

In [ ]:
# i think you don't have to specify with float....
create_so2_table = '''
CREATE TABLE so2 (
id INT(9) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
pbl FLOAT(9,6) NOT NULL,
latitude FLOAT(9,6) NOT NULL,
longitude FLOAT(9,6) NOT NULL,
time VARCHAR(35) NOT NULL,
cloud FLOAT(9,6),
sza FLOAT(9,6),
anom INT(1),
volc_so2 INT(1),
sat_lat FLOAT(9,6) NOT NULL,
sat_long FLOAT(9,6) NOT NULL,
year INT(4),
month INT(2)
)
'''

In [ ]:
# con.execute(create_so2_table)

In [ ]:
con.close()

In [ ]:
# match this format with the dataframe
create_so2_table = '''
CREATE TABLE so2 (
id INT(9) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
pbl FLOAT(9,6) NOT NULL,
latitude FLOAT(9,6) NOT NULL,
longitude FLOAT(9,6) NOT NULL,
time VARCHAR(35) NOT NULL,
cloud FLOAT(9,6),
sza FLOAT(9,6),
anom INT(1),
volc_so2 INT(1),
sat_lat FLOAT(9,6) NOT NULL,
sat_long FLOAT(9,6) NOT NULL,
year INT(4),
month INT(2)
)
'''

### updates to original extraction process:
- also extracting 'Flag_SO2' which marks volcanic activity. useful
- 'TimeUTC' bytearray -> string
    - DATETIME format: '9999-12-31 23:59:59'
- new process
    - unpack h5
        - Datasets -> arrays -> flatten into dataframe
        - write dataframe to SQL with to_sql
            - if you write two same-format dfs to_sql, does it append? i assume

# methods

In [4]:
def process_orbit(h5): # filename string. adds h5's observations to dataframe
    # the formatting/array shape is all uniform. thanks, NASA
    f = h5py.File(h5, 'r') # read file
    geo = f['GEOLOCATION_DATA'] # h5 Groups architecture is similar to dict
    sci = f['SCIENCE_DATA']
    # hdf.Datasets -> np.array -> flatten -> list. faster than looping through each matrix
    lat = list(geo['Latitude'].value.ravel())
    long = list(geo['Longitude'].value.ravel()) # is there a less verbose way to do this?
    sat_lat = list(geo['SpacecraftLatitude'].value.ravel())*36 # extend the 1d arrays
    sat_long = list(geo['SpacecraftLongitude'].value.ravel())*36 # don't forget to ravel like i did
    sat_alt = list(geo['SpacecraftAltitude'].value.ravel())*36
    time = list(geo['TimeUTC'].value.ravel())*36 # 36 measurements per position means one "time" value for every consecutive 36 measurements
    sza = list(geo['SolarZenithAngle'].value.ravel())
    pbl = list(sci['ColumnAmountSO2_PBL'].value.ravel())
    anom = list(sci['Flag_SAA'].value.ravel())
    volc = list(sci['Flag_SO2'].value.ravel())
    # combine lists into df
    new = pd.DataFrame(list(zip(lat, long, sat_lat, sat_long, sat_alt, time, sza, pbl, anom, volc)),
                       columns=["lat", "long", "sat_lat", "sat_long", 
                                'sat_alt', "time", "sza", "pbl", "anom", 'volc'])
    new['time'] = new['time'].astype(str) # change time format
    new['time'] = new['time'].apply(lambda st: st[2:12]+' '+st[13:21]) # change time format
    return new # returns new df

def get_files_list(): # gets list of filepath strings 
    mypath = os.getcwd()+'/data/'
    files = [f for f in listdir(mypath) if isfile(join(mypath, f))]
    for f in files:
        f = mypath+f # append full path for h5py loading
    files = list(map(lambda f: mypath+f, files))
    return files 

def process_h5s(files, processed, engine): # filepath strings, used filepath strings, sqlalchemy engine
    # loads all h5s into dataframes -> uploads to SQL
    # to keep track of progress
    for f in tqdm(files):
        df = process_orbit(f)
        df.to_sql('so2', con=engine, if_exists='append') # sqlalchemy takes care of sessions, commits etc rather nicely
#         processed.append(f.pop(0)) # move string to processed
    return processed # is there a point to this if i can't interrupt the jupyter cell?
# maybe i should have tracked 'files' and processed' in SQL tables? would have taken much longer though

In [ ]:
engine.dispose()

## engine method

In [6]:
# create engine
def ():
    user = config.user
    pw = config.pw
    host = config.host
    connst = f'mysql+pymysql://{user}:{pw}@{host}.clqqz5nrghvl.us-east-1.rds.amazonaws.com/so2'
    engine = create_engine(connst, echo=False) # don't set pool_recycle
()

TypeError: create_engine() got an unexpected keyword argument 'echo'

In [5]:
# get filepath strings list
files = get_files_list()
len(files)

38976

In [ ]:
files[0]

In [7]:
processed = []

In [8]:
process_h5s(files, processed, engine) # uploading 39k h5s will take a while...

  0%|          | 0/38976 [00:00<?, ?it/s]/Users/mark/opt/anaconda3/lib/python3.7/site-packages/h5py/_hl/dataset.py:313: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  "Use dataset[()] instead.", H5pyDeprecationWarning)
100%|██████████| 38976/38976 [17:18:44<00:00,  1.60s/it]

[]

# upload complete! (17 hours later)

- but i dumped it to .sql file locally (86gb), and it looks like pandas doesn't have a native way to read mysqldump files; only streaming from live sql servers
- i hope this doesn't take 17 more hours

In [6]:
query = '''SELECT * FROM so2'''
start = time.time()
df = pd.read_sql(query, engine)
mid = time.time()
print(f'streamed to DF in {mid-start}')
print(f'writing csv ...')
df.to_csv('all_so2.csv')
end = time.time()
print(f'data transferred in {end-start}') 
# workbench shows average speed 8mb/s, the sql dump was 86gb, so i'm assuming 3 hour runtime?