<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
from arcgis.gis import GIS
trailheads_id = '883cedb8c9fe4524b64d47666ed234a7'
gis = GIS()
trailheads_item = gis.content.get(trailheads_id)
trailheads_item
m = gis.map()
m.add_layer(trailheads_item)

In [2]:
type(m)

arcgis.widgets._mapview.MapView

In [3]:
m

MapView(layout=Layout(height='400px', width='100%'))

In [3]:
m.center = [34.09042, -118.71511]           # `[latitude, longitude]`
m.zoom = 11

In [9]:
import pandas as pd
df = pd.read_csv('ecdc_covid19_cases.csv')
df.describe()

,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,61474.000000,61474.000000,61474.000000,61474.000000,61474.000000,6.135300e+04,58597.000000
mean,15.643719,7.032973,2019.998910,1144.100172,25.962195,4.102092e+07,65.439022
std,8.870275,2.936224,0.032996,6690.901402,131.088368,1.532122e+08,160.699106
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02,-147.419587
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.293120e+06,0.740648
50%,16.000000,7.000000,2020.000000,15.000000,0.000000,7.813207e+06,6.664651
75%,23.000000,10.000000,2020.000000,269.750000,4.000000,2.851583e+07,51.771696
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09,1900.836210

In [10]:
df.head(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
1,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
2,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658
3,09/12/2020,9,12,2020,135,13,Afghanistan,AF,AFG,38041757.0,Asia,6.963401
4,08/12/2020,8,12,2020,200,6,Afghanistan,AF,AFG,38041757.0,Asia,7.094835
5,07/12/2020,7,12,2020,210,26,Afghanistan,AF,AFG,38041757.0,Asia,7.215755
6,06/12/2020,6,12,2020,234,10,Afghanistan,AF,AFG,38041757.0,Asia,7.326160
7,05/12/2020,5,12,2020,235,18,Afghanistan,AF,AFG,38041757.0,Asia,7.115865
8,04/12/2020,4,12,2020,119,5,Afghanistan,AF,AFG,38041757.0,Asia,7.107979
9,03/12/2020,3,12,2020,202,19,Afghanistan,AF,AFG,38041757.0,Asia,7.536455